torch~=1.13.0
scikit-learn~=1.1.1
numpy~=1.23.0
tqdm~=4.64.0
transformers~=4.23.1
datasets~=2.3.2
accelerate~=0.10.0
evaluate~=0.3.0
pandas~=1.4.2
nltk~=3.7
bitarray~=2.6.0
pyarrow~=8.0.0
omegaconf~=2.0.6
tensorboardx~=2.5.1
setuptools~=65.6.3
sacrebleu~=2.3.1
sentencepiece~=0.1.96
joblib~=1.1.0
torchaudio~=0.13.0
tabulate~=0.9.0
scipy~=1.8.1
regex~=2022.6.2
h5py~=3.7.0
six~=1.16.0
pyyaml~=6.0
matplotlib~=3.5.2
cffi~=1.15.1
tokenizers~=0.13.2
dill~=0.3.5.1
rouge-score~=0.1.2